PAYSTACK_SECRET_KEY=your_paystack_secret_key
VITE_PAYSTACK_PUBLIC_KEY=your_paystack_public_key
VITE_SUPABASE_URL=https://vuirvimsytbjjgshgzfi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1aXJ2aW1zeXRiampnc2hnemZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NTc1NzgsImV4cCI6MjA5NDUzMzU3OH0.Az0CAnk2inIRehFzM2xERbnamfeUbQ29VCUucUoyj_Y
